* {

}
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #271D1B;
    background-color: #F8F1F1;
    line-height: 1.5; 
}

header {
    padding: 0px 15px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
}

header h1 {
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    color: #F8F1F1;
    padding: 20px 85px 0px 50px;
    margin: 0px;
    background-color: #E5989B;

}

#headerComment {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #271D1B;
    font-style: italic;
    align-items: flex-start; 
    margin-top: 0px;
    padding-left: 30px;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: large;
    margin-left: 30px;
    padding: 0px;
}

nav a {
    margin-left: 30px;
    padding: 15px;
    text-decoration: none;
    color: #271D1B;
}

h2 {
    font-size: larger;
}

main {
    margin-top: 10px;
    margin-bottom: 20px;
}

.page-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}

.page-section h2 {
    border-bottom: 5px solid #E5989B;
    font-size: 20px;
}

.aboutMeDiv {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.aboutMeSection {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 20px;
}

div a {
    align-items: center;
    margin: 20px;
    padding: 20px;
    color: #271D1B;
}